## sudoers file.
##
## This file is managed by Ansible. If you need to create custom rules, you
## should do so in /etc/sudoers.d/
##

##
## User privilege specification
##
root ALL=(ALL) ALL

## Read drop-in files from /etc/sudoers.d
## (the '#' here does not indicate a comment)
#includedir /etc/sudoers.d
